:root {
	--font-body: var(--font-secondary), Arial, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
		Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	--color-bg-1: #F9F9F9;
	--color-bg-2: var(--color-dark);
	--color-primary: #FF731D;
	--color-secondary: #1746A2;
	--color-light: #FFF7E9;
	--color-dark: #010110;
	--color-text: var(--color-dark);
	--font-primary: 'Audiowide';
	--font-secondary: 'Poppins';
	font-size: clamp(0.9375rem, 0.8125rem + 0.5vw, 1.1875rem);
	font-family: var(--font-body);
	color: var(--color-text);

}


.blue {
  color: var(--color-secondary);
	text-shadow: 1.5px 1.5px var(--color-primary);
}

.white {
  color: var(--color-light);
	text-shadow: 1.5px 1.5px var(--color-primary);
}
.orange {
  color: var(--color-primary);
	text-shadow: 1.5px 1.5px var(--color-secondary);
}

input,
button {
	background: none;
	box-sizing: border-box;
	font-size: inherit;
	font-family: inherit;
	margin: 0;
	padding: 0;
	border: none;
	font: inherit;
	color: inherit;
}

ul,
li {
	list-style: none;
	padding: 0;
	margin: 0;
}

a {
	text-decoration: none;
	color: inherit;
}


body {
	background:
	radial-gradient(64px at calc(100% + calc(64px*.866)) 50%,#000000 99%, #0000 101%) 0 calc(-5*64px/2),
	radial-gradient(64px at calc(100% + calc(64px*.866)) 50%,#000000 99%, #0000 101%) calc(-2*calc(64px*.866)) calc(64px/2),
	radial-gradient(64px at 100% 50%,rgba(4, 11, 26, 0.99) 99%, #0000 101%) 0 calc(-2*64px),
	radial-gradient(64px,#000000 99%, #0000 101%) calc(64px*.866) calc(-5*64px/2),
	radial-gradient(64px,rgba(4, 11, 26, 0.99) 99%, #0000 101%) calc(64px*.866) calc( 5*64px/2),
	radial-gradient(64px at 100% 100%,#000000 99%, #0000 101%) 0 calc(-1*64px),   
	radial-gradient(64px at 0%   50% ,#000000 99%, #0000 101%) 0 calc(-4*64px),
	radial-gradient(64px,rgba(4, 11, 26, 0.99) 99%, #0000 101%) calc(-1*calc(64px*.866)) calc(-7*64px/2),
	radial-gradient(64px,#000000 99%, #0000 101%) calc(-1*calc(64px*.866)) calc(-5*64px/2),
	radial-gradient(64px at 100% 50%,rgba(4, 11, 26, 0.99) 99%, #0000 101%) calc(-2*calc(64px*.866)) 64px,
	radial-gradient(64px,#000000 99%, #0000 101%) calc(-1*calc(64px*.866)) calc(64px/ 2),
	radial-gradient(64px,rgba(4, 11, 26, 0.99) 99%, #0000 101%) calc(-1*calc(64px*.866)) calc(64px/-2),
	radial-gradient(64px,#000000 99%, #0000 101%) 0 calc(-1*64px),
	radial-gradient(64px,rgba(4, 11, 26, 0.99) 99%, #0000 101%) calc(64px*.866) calc(64px/-2),
	radial-gradient(64px,#000000 99%, #0000 101%) calc(64px*.866) calc(64px/ 2) 
	rgba(4, 11, 26, 0.99);
background-size: calc(4*calc(64px*.866)) calc(6*64px);
box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.container {
	box-sizing: border-box;
  max-width:1140px;
  margin-inline: auto;
	width: 94%;
	
	@media only screen and (max-width: 728px){
		text-align: center;
		width: 80%;
	}
}


.title {
  font-family: 'Audiowide';

  &--h1 {
		font-size: clamp(3rem, 1rem + 5vw, 6rem);
    line-height: 1;

		::selection{
			//    background-color: $colorPrimary;
			//    color: $colorWhite;
			}
  }

  &--h2 {
		font-size: clamp(1.8125rem, 0.5rem + 5vw, 2.625rem);
  }


  &--h3 {
		font-size: clamp(1.3rem, 0.5rem + 5vw, 1.8rem);
  }
}


section {
  opacity: 0;
}

.visible {
  opacity: 1;
  transition: opacity 0.5s;
}
